extends layout

block content
  article
    h1 What is it about?

    p Well about me, #[strong Martijn Casteel], at easy as that!
    p A lone writer, writing about some thrilling encounters mainly in IT. First exciting point to elaborate; Who am I? Quoted from a strange movie with Jackie Chan. Well I'm not that old (yet) and I do like programming.
    p I'm an IT guy, I've #[a(href='https://nl.linkedin.com/in/martijncasteel') studied] Computer Science and Technical Artificial Intelligence. The latter is kinda long and I have to explain it every time, so the short version is I'm building Jarvis and Sonny.
    p I like watching movies among many other hobbies you may, or may not, find out reading my blog!

    hr

  each post in posts
    article(data-title= '#{post.file}')
      a(href= '/#{post.file}')
        h1= post.title

      span.created= post.date
      
      if post.additional
        span.additional= post.additional

      != post.content

      hr

  script(src='https://code.jquery.com/jquery-2.2.3.min.js', integrity='sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=', crossorigin='anonymous')
  script(src='/javascripts/app.js')
