!!!
%html
  %head
    = partial 'header'

  %body.container
    = link_to '/', :class => 'profile' do
      %img{ :alt => 'profile', :src => '/images/profile.jpg' }

    ~ yield

    - blog.articles[0..1].each do |article|
      %article{ 'data-url' => article.url }

        = link_to article.url do
          %h1= article.title

        %span.created= article.date.strftime('%e %B %Y')

        - if article.data.additional
          %span.additional= article.data.additional

        ~ article.body

        %hr

    - blog.articles.drop(2).each do |article|
      %article{ 'data-url' => article.url }

    = partial 'footer'
