!!!
%html{ 'lang' => 'en' }
  %head
    = partial 'header'

    %meta{ :property => 'og:title', :content => 'Martijn Casteel' }
    %meta{ :property => 'og:description', :content => 'Well about me, Martijn Casteel, at easy as that! ' }

    %meta{ :property => 'og:image', :content => '/images/profile-md.jpg' }
    %meta{ :property => 'og:type', :content => 'website' }

  %body.container
    = link_to '/', :class => 'profile' do
      %img{ :alt => 'profile', :src => '/images/profile.jpg' }

    ~ yield

    - blog.articles[0..1].each do |article|
      %article{ 'data-url' => article.url }

        = link_to article.url do
          %h2= article.title

        %span.created= article.date.strftime('%e %B %Y')

        - if article.data.additional
          %span.additional= article.data.additional

        ~ article.body

        %hr

    - blog.articles.drop(2).each do |article|
      %article{ 'data-url' => article.url }

    = partial 'footer'
