!!! 5
%html{ 'lang' => 'en' }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }

    %meta{ :content => 'ie=edge', 'http-equiv' => 'x-ua-compatible' }
    %meta{ :content => 'width=device-width, initial-scale=1, shrink-to-fit=no', :name => 'viewport' }

    = feed_tag :atom, 'feed.xml'
    = favicon_tag '/images/favicon.ico'
    = stylesheet_link_tag 'style'

    = javascript_include_tag 'app', defer: true

    %meta{ :content => 'A website about me, Martijn Casteel. Learn more about me whether you are interested in my programming adventures such as pong in javascript or a web chat client, read more about it here! ', :name => 'description' }

    %title Martijn Casteel

    %meta{ :property => 'og:title', :content => 'Martijn Casteel' }
    %meta{ :property => 'og:description', :content => 'Well about me, Martijn Casteel, at easy as that! ' }

    %meta{ :property => 'og:image', :content => '/images/profile-md.jpg' }
    %meta{ :property => 'og:type', :content => 'website' }

  %body.container
    = link_to '/', :class => 'profile' do
      %img{ :alt => 'profile', :src => '/images/profile.jpg' }

    ~ yield

    - blog.articles[0..1].each do |article|
      %article

        = link_to article.url do
          %h2= article.title

        %span.created= article.date.strftime('%e %B %Y')

        - if article.data.additional
          %span.additional= article.data.additional

        ~ article.body

        %hr

    - blog.articles.drop(2).each do |article|
      %article{ 'data-url' => article.url + '/' }
