!!! 5
%html{ 'lang' => 'en' }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }

    %meta{ :content => 'ie=edge', 'http-equiv' => 'x-ua-compatible' }
    %meta{ :content => 'width=device-width, initial-scale=1, shrink-to-fit=no', :name => 'viewport' }

    = feed_tag :atom, 'feed.xml'
    = favicon_tag '/images/favicon.ico'
    = stylesheet_link_tag 'style'

    = javascript_include_tag 'app', defer: true

    - if current_page.data.description
      %meta{ :content => current_page.data.description, :name => 'description' }

    %title
      Martijn Casteel
      = precede ' - ' do
        = current_page.data.title


    %meta{ :property => 'og:title', :content => current_page.title }
    %meta{ :property => 'og:type', :content => 'article' }

    %meta{ :property => 'og:article:author', :content => 'Martijn Casteel' }
    %meta{ :property => 'og:article:published_time', :content => current_page.date.to_time }

  %body.container
    = link_to '/', :class => 'profile' do
      %img{ :alt => 'profile', :src => '/images/profile.jpg' }

    %article
      = link_to current_page.url do
        %h1= current_page.title

      %span.created= current_page.date.strftime('%e %B %Y')

      - if current_page.data.additional
        %span.additional= current_page.data.additional

      ~ yield

      %hr
