!!!
%html{ 'lang' => 'en' }
  %head
    = partial 'header', :locals => { :title => current_page.data.title }

  %body.container
    = link_to '/', :class => 'profile' do
      %img{ :alt => 'profile', :src => '/images/profile.jpg' }

    %article
      = link_to current_page.url do
        %h2= current_page.title

      %span.created= current_page.date.strftime('%e %B %Y')

      - if current_page.data.additional
        %span.additional= current_page.data.additional

      ~ yield

      %hr

    = partial 'footer'
