!!!
%html{ 'lang' => 'en' }
  %head
    = partial 'header', :locals => { :title => current_page.data.title }

    %meta{ :property => 'og:title', :content => current_page.title }
    %meta{ :property => 'og:image', :content => '/images/profile.jpg' }
    %meta{ :property => 'og:type', :content => 'article' }

    %meta{ :property => 'og:article:author', :content => 'Martijn Casteel' }
    %meta{ :property => 'og:article:published_time', :content => current_page.date.to_time }

  %body.container
    = link_to '/', :class => 'profile' do
      %img{ :alt => 'profile', :src => '/images/profile.jpg' }

    = link_to '/', :class => 'back' do
      return

    %article
      = link_to current_page.url do
        %h1= current_page.title

      %span.created= current_page.date.strftime('%e %B %Y')

      - if current_page.data.additional
        %span.additional= current_page.data.additional

      ~ yield

      %hr

    = partial 'footer'
