!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %meta{ :charset => 'utf-8' }
    %meta{ :content => 'ie=edge', 'http-equiv' => 'x-ua-compatible' }
    %meta{ :content => 'width=device-width, initial-scale=1, shrink-to-fit=no', :name => 'viewport' }

    %title
      Martijn Casteel -
      = current_page.data.title

    = stylesheet_link_tag 'style'
    = javascript_include_tag 'script'

  %body.container
    %a.profile{ :href => '/' }
      %img{ :alt => 'profile', :src => '/images/profile.jpg' }

    %article
      %h1= current_page.title
      %span.created= current_page.date.strftime('%e %B %Y')

      - if current_page.data.additional
        %span.additional= current_page.data.additional

      ~ yield

      %hr
