= javascript_include_tag 'turbolinks.js'

= javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.min.js'
= javascript_include_tag 'app'

= javascript_include_tag 'socket.io'
= javascript_include_tag 'chat'
