%meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }

%meta{ :content => 'ie=edge', 'http-equiv' => 'x-ua-compatible' }
%meta{ :content => 'width=device-width, initial-scale=1, shrink-to-fit=no', :name => 'viewport' }

= favicon_tag '/images/favicon.ico'

%meta{ :content => 'Well about me, Martijn Casteel, at easy as that! A lone writer, writing about some thrilling encounters mainly in IT. First exciting point to elaborate; Who am I?', :name => 'description' }

%title
  Martijn Casteel
  - if current_page.data.title.present?
    = precede ' - ' do
      = current_page.data.title

= feed_tag :atom, 'feed.xml'
= stylesheet_link_tag 'style'

= javascript_include_tag 'turbolinks.js'
= javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.min.js'
= javascript_include_tag 'app'
